<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= animal.species %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= animal.age %>
  </p>

</div>
